name: Link-check
on:
  schedule:
    - cron: '0 0 * * 1'  # every monday
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
      - name: Run linksafe
        uses: TechWiz-3/linksafe@main
        with:
          whitelist_links: "https://pybit.es/articles/codechallenge38/"
